[Desktop Entry]
Name=Flight Information
Comment=Provides information about an upcoming flight

Icon=klipper
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=false

X-KDE-PluginInfo-Author=Vishesh Handa
X-KDE-PluginInfo-Email=vhanda@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.flightinformation
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL

